*.pdf
.DS_Store
backend/.venv/
backend/__pycache__/
backend/.env
backend/app/core/__pycache__/
backend/app/db/__pycache__/
backend/app/schemas/__pycache__/
backend/app/__pycache__/
backend/app/api/v1/routes/__pycache__/
backend/app/repositories/__pycache__/
backend/app/services/__pycache__/
backend/app/services/__pycache__/


# Node modules
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# Vite cache
.vite/

# TypeScript cache
*.tsbuildinfo
